body {
  background-color: #eee;
}

#container {
  background-color: white;
  padding: 1em;
  margin: 0 auto;
  max-width: 640px;
}

input[type=text] {
  width: 100%;
  font-size: 16px;
  padding: 0.2em;
}

.cat {
  display: inline-block;
}
